<h1><%= @mercado.nombre %></h1>

<p><strong>Ubicación:</strong> <%= @mercado.ubicacion %></p>
<p><strong>Alcaldía:</strong> <%= @mercado.alcaldia %></p>

<hr>

<h2>Productos disponibles</h2>

<% if @mercado.productos.any? %>
  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
     <% @mercado.productos.each do |producto| %>
        <tr>
          <td><%= producto.nombre %></td>
          <td><%= number_to_currency(producto.precio, unit: "$") %></td>
          <td>
         
            <%= link_to "Editar", edit_mercado_producto_path(@mercado, producto) %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <p>No hay productos asociados a este mercado aún.</p>
<% end %>

<%= link_to "Agregar nuevo producto", new_mercado_producto_path(@mercado), class: "btn" %>
<%= link_to "Volver", mercados_path %>
